<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/css/mobile.css' />
  </head>
  <body>
    <div class="index">
      <%- include('./common/header.ejs',{nickname:nickname,isAdmin: isAdmin}) %> 
      <div class="container">
        <div class="menu">
           <%- include('./common/menu.ejs',{isAdmin:isAdmin}) %> 
        </div>
        <div class="main">
            <h1 class="title">手机管理</h1>
            <h2 class="addMobileBtn">新增手机</h2>
            <table>
              <thead>
                <tr>
                  <td>序号</td>
                  <td>图片</td>
                  <td>手机名称</td>
                  <td>所属品牌</td>
                  <td>官方指导价</td>
                  <td>二手回收价</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody>
                 <!-- 循环 brandInfo 显示用户数据 -->
                 <% for (var i = 0; i < mobileInfo.length; i++) { %>
                  <tr>
                    <td><%= mobileInfo[i]._id %></td>
                    <td><img src="/mobiles/<%= mobileInfo[i].filename%>"></td>                      
                    <td class="mName"><%= mobileInfo[i].mobilename %></td>
                    <td class="bName"><%= mobileInfo[i].brandname %></td>
                    <td class="aPrice"><%= mobileInfo[i].authorprice %></td>
                    <td class="sPrice"><%= mobileInfo[i].shandprice %></td>
                    <td>
                      <a class="updateMobileBtn">修改</a>
                      <a href="/mobile/delete?id=<%= mobileInfo[i]._id %>">删除</a>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
            <div class="addMobile">
              <h2>新增手机</h2>
              <form action="mobile/add" method="post" enctype="multipart/form-data">
                <label>
                  <span>手机名称</span>
                  <input type="text" name="mobilename" class="mobileName" value="">
                </label>
                <label>
                  <span>所属品牌</span>
                  <!-- <input type="text" name="brandname" class="brandName" value=""> -->
                  <select name="brandname" class="selBrand">
                      <option>--请选择--</option>
                  </select>
                </label>
                <label>
                  <span>官方指导价</span>
                  <input type="text" name="authorprice" class=" authorPrice" value="">
                </label>
                <label>
                  <span>二手回收价</span>
                  <input type="text" name="shandprice" class=" shandPrice" value="">
                </label>
                <label>
                  <span>上传图片</span>
                  <input type="file" name="fileimg" class="fileImg">
                </label>

                <input type="submit" value="确认" id="sub">
                <i class="cancle1">取消</i>
              </form>
            </div>
            <div id="updateMobileBox">
              <h2>修改</h2>
              <form action="/mobile/update" method="post">
                <label>
                  <span>手机名称</span>
                  <input type="text" name="mobilename" class="updateMobile" value="" readonly>
                </label>
                <label>
                  <span>所属品牌</span>
                  <input type="text" name="brandname" class="updateBrand" value="" readonly>
                </label>
                <label>
                  <span>官方指导价</span>
                  <input type="text" name="authorprice" class="updateAprice" value="">
                </label>
                <label>
                  <span>二手回收价</span>
                  <input type="text" name="shandprice" class="updateSprice" value="">
                </label>
                  <input type="submit" value="确认" id="subupdate">
                  <i class="cancleMobile">取消</i>
              </form>
            </div>
            <ul class="pageNum">
                <li><a href="" id="prev"><<</a></li>
              <% for (var i = 0; i < totalPage; i++) { %>
                <li>
                  <a href="/mobile-manager.html?page=<%= i+1 %>" ><%= i+1 %>页</a>
                </li>
              <% } %>
              <li><a href="" id="next">>></a></li>
            </ul>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/js/jquery.min.js"></script>
<script src="/js/manager.js"></script>
<script>
  $("#sub").click(function(){
    var mobVal = $(".mobileName").val(),
        selVal =  $(".selBrand").val(),
        autVal = $(".authorPrice").val(),
        shandVal = $(".shandPrice").val(),
        filVal =  $(".fileImg").val();
    if(!( mobVal && selVal && autVal && shandVal && filVal)){
        alert("请正确填写表单")
        event.preventDefault();
    }
  })

  $("#subupdate").click(function(){
    var apVal = $(".updateAprice").val();
    var spVal = $(".updateSprice").val();
    if(!(apVal && spVal)){
      alert("请正确填写表单")
        event.preventDefault();
    }
  })
</script>